@page "{pokemonId}"
@model PokemonFavoritesUI.Pages.PokemonDetailModel
@{
    ViewData["Title"] = "PokemonDetail";
}

<h1>@(Model.Pokemon.Name)</h1>


<div class="card" style="width: 40rem;">
    <img class="card-img-top" src="@(Model.Pokemon.Sprites?.FrontShiny)">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>